# Requirements for AirML project (core and optional tools)
numpy
pandas
matplotlib
seaborn
scikit-learn
wheel
requests
nbstripout
vaderSentiment
xgboost
# imbalanced-learn
# scikit-surprise
# langdetect
# nltk
# spacy
# joblib
scipy
# tqdm
# jupyter
ipykernel
nbdime

# Optional / useful extras
# lightgbm
# gensim
# sentence-transformers