# Requirements for AirML project (core and optional tools)
numpy
pandas
matplotlib
seaborn
scikit-learn
wheel
requests
nbstripout
vaderSentiment
fastapi
uvicorn
pydantic
httpx
xgboost
catboost
# imbalanced-learn
# scikit-surprise
# langdetect
# nltk
# spacy
joblib
scipy
# tqdm
# jupyter
ipykernel
nbdime
geopandas
shap
optuna

# Optional / useful extras
lightgbm
catboost
# gensim
# sentence-transformers
